footer {
    background: #010635;
    color: white;
    h4{
        font-family: "Arimo Hebrew Subset Italic";
        font-size: 20px;
        font-style: italic;
        line-height: 40px; /* 160% */
    }

    img{
        width: 130px;
        height: 120px;
    }
    
}
.foot-link{ 
    color: #FFF;
    font-size: 15px;
    text-decoration: none;
}

.line{
    padding-left: 200px;
    padding-right: 200px;
}