<div class="row">
    <div class="col-md-1 p-0">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="ms-5 fa-solid fa-bars"></i>
        </button>
    </div>
    <div class="col-md-10">
        <p class="fs-4">Eventos</p>
    </div>
    <div class="ms-4 line p-0">
        <p class="p-0 border border-dark border-2 opacity-100"></p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 p-0">
        <div class="collapse show" id="navbarToggleExternalContent" data-bs-theme="dark">
            <ul class="p-0 ms-5">
                <li><a routerLink="./registrados">|Registrados</a></li>
                <li><a routerLink="./creados">|Creados</a></li>
                <li><a routerLink="./pasados">|Anteriores</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
