nav{
    ul{
        font-size: 18px;
    }
    img{
        width: 110px;
        height: 100px;
    }

}

.nav-item{
    
    color: #000;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
}

