.color
{
    background: linear-gradient(to right,#010635,#03129B);
    color: #ffff;
}
.color:hover
{
    background: linear-gradient(to right,#01152e,#022168);
    color: #4557fd;
}
.img-thumbnail
{
    max-height: 350px;
}