<app-nav/>
<div class="container text-center">
    <div class="row">
        <h2 class="mb-4">Pago cancelado</h2>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <img class="img-fluid small" src="https://img.freepik.com/free-psd/cross-mark-isolated_23-2151478803.jpg" alt="Pago cancelado">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <button class="btn btn-lg p-3 fs-5 rounded-pill" routerLink="/eventos">
                Volver a eventos
            </button>
        </div>
    </div>
</div>
<app-footer/>