<div class="p-3 espaciado">
    <div class="container text-center mt-5 mb-5">
        <div class="row d-flex justify-content-center bg-1 text-light subtitle m-2 p-4">
            <div class="col text-center">
                <h1>Contraseña Recuperada</h1>
            </div>
        </div>
    </div>

    <div class="confirmation-content text-center">
        <i class="fas fa-database confirmation-icon"></i>
        <button class="btn btn-primary rounded-pill mt-4" (click)="onFinish()">Finalizar</button>
    </div>
</div>
