<div class="container-fluid row">
    <h3>Comunidades Disponibles</h3>

    <div *ngIf="isloading" class="d-flex justify-content-center align-items-center vh-100">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
    
    <div *ngIf="isloading !==true" class="container-fluid row">
        <div class="col-md-4 card-comu" *ngFor="let community of comunitiesAvailable">
            <div class="row">
              <div class="col-md-8">
                <strong>{{ community.name }}</strong>
                <p>{{ community.descripcion }}</p>
                <p>Comunidad de {{ community.owner.name }}</p>
              </div>
              <div class="col-md-4">
                <button class="btn btn-uni" *ngIf="!community.joined" (click)="joinCommunity(community.id)">
                  Unirse
                </button>
                <button class="btn btn-uni" *ngIf="community.joined" (click)="leaveCommunity(community.id)">
                  Salir
                </button>
                <button class="btn btn-com" (click)="navigateToDetail(community.id)">
                  Ver
                </button>
              </div>
            </div>
          </div>
    </div>
    
</div>