<div class="container-fluid row">
    <h3>Comunidades Disponibles</h3>
    <div class="col-md-4 card-comu" *ngFor="let comunity of comunitiesAvailable">
        <div class="row">
            <div class="col-md-8">

                <strong>{{ comunity.name }}</strong>
                <p>{{ comunity.descripcion }}</p>
                <p> Comunidad de {{comunity.owner.name}}</p>
                
            </div>
            <div class="col-md-4">
                {{comunity.id}}
                <button class="btn btn-uni" *ngIf="!isJoined(comunity.id)" (click)="joinCommunity(comunity.id)">Unirse</button>
                <button class="btn btn-uni" *ngIf="isJoined(comunity.id)" (click)="leaveCommunity(comunity.id)">Salir</button>
                <button class="btn btn-com" (click)="navigateToDetail(comunity.id)"> ver</button>
            </div>
        </div>

    </div>
</div>