<div class="p-3 espaciado">
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center bg-1 text-light subtitle m-2 p-2">
            <div class="caja d-flex align-items-center">
                <i class="fa-solid fa-angle-left fs-3" (click)="goBack()" style="cursor: pointer"></i>
            </div>
            <div class="col-8 text-center">
                <h1>Recuperación de Contraseña</h1>
                <p class="text-light">Ingrese el correo asociado a su cuenta para restaurar su contraseña</p>
            </div>
            <div class="caja"></div>
        </div>
    </div>

    <form [formGroup]="passwordRecoveryForm" class="container col-md-6 col-lg-4"> 
        <div class="row">
            <label for="email">Correo:</label>
            <input id="email" formControlName="email" type="email" class="form-control" placeholder="Ingrese su email">
            <div *ngIf="passwordRecoveryForm.get('email')?.invalid && passwordRecoveryForm.get('email')?.touched"
                class="alert alert-danger mt-2">
                <span *ngIf="passwordRecoveryForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
                <span *ngIf="passwordRecoveryForm.get('email')?.errors?.['email']">Introduzca un correo válido.</span>
            </div>
        </div>
 
        <div class="row mt-4">
            <button class="btn rounded-pill p-2 w-100" type="button" (click)="initiatePasswordReset()"
                [disabled]="passwordRecoveryForm.get('email')?.invalid || isLoading">
                {{ isLoading ? 'Enviando...' : 'Enviar' }}
            </button>
        </div>
    </form>
</div>