.espaciado {
    height: 70vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.p-3 .container .col-8{
    padding: 20px;
}

.bg-1 {
    background: linear-gradient(90deg, #084AAA 0%, #010635 100%);
}

.row label {
    font-size: 19px;
}
.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #084AAA;
    border-radius: 93px;
    font-size: 17px;
}

.subtitle {
    border-radius: 50px;
}

/*Caja - espaciado y centrado dinamico para la flecha*/

.caja {
    width: 10%;
}

.caja i {
    font-size: 1.5rem;
}


label {
    font-size: 17px;
}

.btn {
    background-color: #084AAA;
    color: #FFF;
    font-size: 1.2em;
    transition: background-color 0.3s;
    width: 20%; 
}

.fa-solid {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.fa-solid:hover {
    transform: scale(2.2); /* Aumenta el tamaño ligeramente al pasar el cursor */
}