<h5>Pasados</h5>
<div class="table-responsive" *ngIf="filterevents.length> 0; else noEvents">
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Ubicacion</th>
                <th>Tipo</th>
                <th class="text-center" >Fecha Termino</th>
                <th>Fecha Inscripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr class="event-row" *ngFor="let eventsIn of filterevents, let i = index">
                <td>{{eventsIn.tittle}}</td>
                <td *ngIf="eventsIn.location.address==='Virtual'">
                    {{eventsIn.location.address}}
                </td>
                <td 
                *ngIf="eventsIn.location.address!=='Virtual'">
                {{eventsIn.location.address}}-{{eventsIn.location.departament}}-{{eventsIn.location.province}}
                </td>
                <td>{{eventsIn.type}}</td>
                <td class="long-column text-center" >{{eventsIn.date}}</td>
                <td>{{eventsIn.registrationDate}}</td>

            </tr>
        </tbody>
    </table>
</div>
<ng-template #noEvents>
    <strong>Aun no te has inscrito en ningun evento.</strong>
</ng-template>

<div *ngIf="modal" class="modal">   
    <p>¿Seguro que deseas eliminar el evento?</p>
    
    <button (click)="closeModal()">  Cancelar  </button>
    <button>  Eliminar  </button>
    
    </div>
