
<h5>Pasados</h5>
<div class="table-responsive" *ngIf="filterevents.length> 0; else noEvents">
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Ubicacion</th>
                <th>Tipo</th>
                <th class="text-center" >Fecha Termino</th>
                <th>Fecha Inscripcion</th>
            </tr>
        </thead>
        <tbody>
            <tr class="event-row" *ngFor="let eventsIn of filterevents, let i = index">
                <td>{{eventsIn.tittle}}</td>
                <td *ngIf="eventsIn.location.address==='Virtual'">
                    {{eventsIn.location.address}}
                </td>
                <td 
                *ngIf="eventsIn.location.address!=='Virtual'">
                {{eventsIn.location.address}}-{{eventsIn.location.departament}}-{{eventsIn.location.province}}
                </td>
                <td>{{eventsIn.type}}</td>
                <td class="long-column text-center" >{{eventsIn.date}}</td>
                <td>{{eventsIn.registrationDate}}</td>
                <td>
                  <button 
                    class="btn btn-primary" 
                    *ngIf="!isEventRated(eventsIn.eventId)" 
                    (click)="openRatingModal(eventsIn)">
                    Calificar evento
                  </button>
                
                  
                  <button 
                    class="btn btn-secondary" 
                    *ngIf="isEventRated(eventsIn.eventId)" 
                    disabled>
                    Ya calificado
                  </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<ng-template #noEvents>
  <strong>Aún no te has inscrito en ningún evento.</strong>
</ng-template>


<div *ngIf="ratingModal" class="modal">
  <div class="modal-content">
    <h4>Calificar Evento: {{ selectedEvent.tittle }}</h4>

    <div class="rating">
      <span
        *ngFor="let star of [1, 2, 3, 4, 5]; let i = index"
        (click)="setRating(i + 1)"
        [ngClass]="{ selected: i < rating }">
        ★
      </span>
    </div>
  
    <div class="modal-actions">
      <button class="btn cancel" type="button" (click)="closeRatingModal()">Cancelar</button>
      <button class="btn submit" type="button" (click)="submitRating()">Enviar</button>
    </div>
  </div>
</div>