<div class="p-3 espaciado">
    <div class="container mt-5 mb-5">
      <div class="row d-flex justify-content-center bg-1 text-light subtitle m-2 p-2">
        <div class="caja d-flex align-items-center"> 
        </div>
        <div class="col-8 text-center">
          <h1>Recuperación de Contraseña</h1>
          <p class="text-light">Ingrese su nueva contraseña para restaurar su cuenta</p>
        </div>
        <div class="caja"></div>
      </div>
    </div>
  
    <form [formGroup]="passwordRecoveryForm" class="container col-md-6 col-lg-4" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="newPassword">Ingrese su nueva contraseña</label>
        <input id="newPassword" formControlName="newPassword" type="password" class="form-control"
          placeholder="Nueva contraseña" />
        <div *ngIf="passwordRecoveryForm.get('newPassword')?.invalid && passwordRecoveryForm.get('newPassword')?.touched"
          class="alert alert-danger mt-2">
          <span *ngIf="passwordRecoveryForm.get('newPassword')?.errors?.['required']">
            La contraseña es obligatoria.
          </span>
          <span *ngIf="passwordRecoveryForm.get('newPassword')?.errors?.['minlength']">
            Debe tener al menos 8 caracteres.
          </span>
        </div>
      </div>
  
      <div class="form-group mt-3">
        <label for="confirmPassword">Confirmar contraseña</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
          placeholder="Confirmar contraseña" />
        <div *ngIf="passwordRecoveryForm.get('confirmPassword')?.invalid && passwordRecoveryForm.get('confirmPassword')?.touched"
          class="alert alert-danger mt-2">
          <span *ngIf="passwordRecoveryForm.get('confirmPassword')?.errors?.['required']">
            La confirmación es obligatoria.
          </span>
          <span *ngIf="passwordRecoveryForm.hasError('passwordMismatch')">
            Las contraseñas no coinciden.
          </span>
        </div>
      </div>
  
      <div class="text-center mt-4">
        <!-- El botón siempre muestra 'Restablecer Contraseña' y está deshabilitado cuando el formulario es inválido -->
        <button class="btn btn-primary rounded-pill p-2 w-100" type="submit" [disabled]="passwordRecoveryForm.invalid">
          Restablecer Contraseña
        </button>
      </div>
    </form>
  </div>