.inicio{

    min-height: 60vh;

}

.espaciado{
    height: 70vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.bg-1{
    background: linear-gradient(90deg, #084AAA 0%, #010635 100%);
}

.input-c{
    width: 100%; /* Ancho completo */
    padding: 8px; /* Espaciado interno */
    border: 2px solid #084AAA; /* Borde transparente inicialmente */
    border-radius: 50px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de la fuente */
}

.subtitle{
    border-radius: 50px;
}

/*Caja - espaciado y centrado dinamico para la flecha*/

.caja{
    width: 10%;
}

.caja i{
    font-size: 1.5rem;
    
}

.formulario{
    
    label{
        font-size: 24px;
        color: #084AAA;
        padding: 10px;
    }

    .btn{
        background-color: #084AAA;
        color: #FFF;
        border: none;
        font-size: 20px;
        transition: background-color 0.3s;
    }
    .btn:hover
{
    background-color: #010635;
    color: #FFF;
}
}

.fa-solid {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.fa-solid:hover {
    transform: scale(2.2); /* Aumenta el tamaño ligeramente al pasar el cursor */
}

