<div class="p-3">
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center bg-1 text-light subtitle m-2 p-2">
            <div class="caja d-flex align-items-center">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="col-8 text-center">
                <h1>Recuperar Contraseña</h1>
                <p>Ingrese su correo asociado a la cuenta para restaurar su contraseña</p>
            </div>
            <div class="caja"></div>
        </div>
    </div>
    
    <form [formGroup]="passwordRecoveryForm" (ngSubmit)="onSubmit()" class="container col-md-4 mt-5">
        <div class="row">
            <label for="email">Correo:</label>
            <input
                type="email"
                class="input-c form-control"
                id="email"
                placeholder="Ingrese su correo" 
                formControlName="email"
            /> 
            <div *ngIf="passwordRecoveryForm.get('email')?.invalid && passwordRecoveryForm.get('email')?.touched" class="text-danger">
                <small *ngIf="passwordRecoveryForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
                <small *ngIf="passwordRecoveryForm.get('email')?.errors?.['email']">Ingrese un correo válido.</small>
            </div>
        </div>

        <div *ngIf="showConfirmationMessage" class="row mt-2">
            <small class="form-text text-muted">
                Se ha enviado un código de recuperación, revise la bandeja de spam o correos no deseados.
            </small>
        </div>
 
        <div *ngIf="showRecoveryTokenInput" class="row mt-4">
            <label for="recoveryToken">Código de recuperación:</label>
            <input
                type="text"
                class="input-c form-control text-center mx-1"
                id="recoveryToken"   
                placeholder="Ingrese el token de recuperación"
                formControlName="recoveryToken"
            />
            <div *ngIf="tokenSubmitted && passwordRecoveryForm.get('recoveryToken')?.hasError('invalidToken')" class="text-danger">
                <small>Código no válido.</small>
            </div>
        </div>
 
        <div class="row mt-4">
            <button type="submit" class="bg-1 subtitle text-light p-2 btn-block">
                Enviar
            </button>
        </div>
    </form>
</div>
