.espaciado{
    height: 70vh;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.bg-1{
    background: linear-gradient(90deg, #084AAA 0%, #010635 100%);
}

.input-c{
    width: 100%; /* Ancho completo */
    padding: 5px; /* Espaciado interno */
    border: 2px solid #084AAA; /* Borde transparente inicialmente */
    border-radius: 50px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de la fuente */
}

.subtitle{
    border-radius: 50px;
}

/*Caja - espaciado y centrado dinamico para la flecha*/

.caja{
    width: 10%;
}

.caja i{
    font-size: 1.5rem;
    
}