.body {
    background: linear-gradient(192deg, #FFF 23.99%, #8B8EA3 48.58%, #010635 83.26%);
}

.noso{
    padding-top: 50px!important;
    color: #010635;
    font-size: 65px;
}

.misVisi{
    padding: 100px;

    .mis{
        border-radius: 30px;
        border: 1px solid #000;
        border-right: 10px solid #000;
        border-bottom: 10px solid #000;
        opacity: 0.8;
        background: #FFF;
        box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.25);
    }

    .vis{
        border-radius: 35px;
        border: 1px solid #000;
        border-right: 10px solid #000;
        border-bottom: 10px solid #000;
        opacity: 0.8;
        background: #FFF;
        box-shadow: 5px 10px 10px 0px rgba(0, 0, 0, 0.25);
    }

    h3{
        color: #000000;
        font-size: 45px;
    }
    p{
        font-size: 18px;
    }
}

.team-section{
    color: #FFF;
    img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 15px;
    }
    .subTitle{
        font-size: 40px;
    }
    
    margin-bottom: 100px!important;
}

.faq{
    .pregu{
        color: #FFF;
        font-size: 70px;
    }

    .accordion{
        background: none;
        border-bottom: 1px solid #000;
    }
    
}

.acor{
    background: none;
}

.carru {
    background: url(https://img.pikbest.com/origin/09/18/09/14spIkbEsTkRF.jpg!w700wp);
    width: 100%;
    background-position: center center;
    background-size: cover;
    color: #FFF;
}

.title{
    font-size: 50px;
    .ah{
        color: #90bbbb;
    }
}

.decription{
    font-size: 30px;
}

.boton{
    
}
.carrusel{
max-width: 600px;    
    .carousel-inner{
        color: #000;
        
        img{
            margin: 0 auto;
            border-radius: 10%;
            height: 450px;
            width: 450px;
        }
        background: #FFF;
        opacity: 0.8;
        border-radius: 30px;
        border: 1px solid #000;
    }
    .carousel-control-icon{
        color: #083b7e;
    }
    h5{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }

}

.register-btn{
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
}

.t h5{
    font-size: 30px!important;
}

.t p{
    font-size: 20px!important;
}