<div class="create-event-container">
  <nav>Eventos Creados &gt; Editar Evento</nav>
  <div class="row">
    <div class="col-md-1">
      <button class="btn fs-3 hover" (click)="Volver()"> <i class="fa-solid fa-arrow-left"></i></button>
    </div>
    <div class="col">
      <h2 class="text-start">Editar Evento</h2>
    </div>
  </div>
  <form [formGroup]="editEventForm" (ngSubmit)="onSubmit()">

    
    <div class="form-row name-event">
      <div class="col">
        <div class="form-group">
          <label for="nombre-evento">Nombre del evento</label>
          <input type="text" id="nombre-evento" formControlName="tittle" maxlength="50" class="form-control" placeholder="Ingrese el nombre del evento">
          <div *ngIf="editEventForm.get('tittle')?.invalid && (editEventForm.get('tittle')?.dirty || editEventForm.get('tittle')?.touched)" class="alert alert-danger mt-2">
            El nombre del evento es requerido.
          </div>
        </div>
  
        <div class="form-group full-width">
          <label for="descripcion">Descripción del evento</label>
          <textarea id="descripcion" formControlName="description" rows="4" maxlength="250" class="form-control" placeholder="Ingrese una descripción"></textarea>
          <div *ngIf="editEventForm.get('description')?.invalid && (editEventForm.get('description')?.dirty || editEventForm.get('description')?.touched)" class="alert alert-danger mt-2">
            La descripción del evento es requerida.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="mode">Modalidad del evento</label>
      <select id="mode" formControlName="mode" (change)="toggleAddressFields()">
        <option value="">Seleccione una modalidad</option>
        <option value="Presencial">Presencial</option>
        <option value="Virtual">Virtual</option>
      </select>
    </div>

    <div class="form-row custom-radio-row">
      <div class="form-group col-md-2">
        <label>Tipo de evento</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="eventTypeFree" formControlName="type" value="Gratis" (change)="toggleCostInput()">
          <label class="form-check-label" for="eventTypeFree">Gratuito</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="type" id="eventTypePremium" formControlName="type" value="Premium" (change)="toggleCostInput()">
          <label class="form-check-label" for="eventTypePremium">Premium</label>
        </div>
      </div>

      <div class="form-group col-md-2 mt-2" *ngIf="isCostVisible">
        <label for="costo">Costo</label>
        <input type="number" id="costo" formControlName="cost" class="form-control" placeholder="S/.">
        <div *ngIf="editEventForm.get('cost')?.invalid && (editEventForm.get('cost')?.dirty || editEventForm.get('cost')?.touched)" class="alert alert-danger mt-2">
          Introduzca un costo válido (solo números).
        </div>
      </div>
    </div>

    <div class="form-row single-line-fields">
      <div class="form-group col-md-2">
        <label for="fecha">Fecha</label>
        <input type="date" id="fecha" formControlName="date" class="form-control" [min]="minDate" [max]="'2027-12-31'">
        <div *ngIf="editEventForm.get('date')?.invalid && (editEventForm.get('date')?.dirty || editEventForm.get('date')?.touched)" class="alert alert-danger mt-2">
          <span *ngIf="editEventForm.get('date')?.errors?.['required']">La fecha es obligatoria.</span>
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="hora-inicio">Hora de Inicio</label>
        <input type="time" id="hora-inicio" formControlName="startTime" class="form-control">
        <div *ngIf="editEventForm.get('startTime')?.invalid && (editEventForm.get('startTime')?.dirty || editEventForm.get('startTime')?.touched)" class="alert alert-danger mt-2">
          La hora de inicio es requerida.
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="hora-fin">Hora de Fin</label>
        <input type="time" id="hora-fin" formControlName="endTime" class="form-control">
        <div *ngIf="editEventForm.get('endTime')?.invalid && (editEventForm.get('endTime')?.dirty || editEventForm.get('endTime')?.touched)" class="alert alert-danger mt-2">
          La hora de fin es requerida.
        </div>
      </div>

      <div class="form-group col-md-2">
        <label for="capacidad">Capacidad</label>
        <input type="number" id="capacidad" formControlName="maxCapacity" class="form-control" placeholder="Ingrese capacidad">
        <div *ngIf="editEventForm.get('maxCapacity')?.invalid && (editEventForm.get('maxCapacity')?.dirty || editEventForm.get('maxCapacity')?.touched)" class="alert alert-danger mt-2">
          Introduzca una capacidad válida (solo números).
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="departamento">Departamento</label>
        <input type="text" id="departamento" formControlName="department" class="form-control" placeholder="Ingrese departamento">
        <div *ngIf="editEventForm.get('department')?.invalid && (editEventForm.get('department')?.dirty || editEventForm.get('department')?.touched)" class="alert alert-danger mt-2">
          El departamento es requerido.
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="provincia">Provincia</label>
        <input type="text" id="provincia" formControlName="province" class="form-control" placeholder="Ingrese provincia">
        <div *ngIf="editEventForm.get('province')?.invalid && (editEventForm.get('province')?.dirty || editEventForm.get('province')?.touched)" class="alert alert-danger mt-2">
          La provincia es requerida.
        </div>
      </div>

      <div class="form-group col-md-3">
        <label for="distrito">Distrito</label>
        <input type="text" id="distrito" formControlName="district" class="form-control" placeholder="Ingrese distrito">
        <div *ngIf="editEventForm.get('district')?.invalid && (editEventForm.get('district')?.dirty || editEventForm.get('district')?.touched)" class="alert alert-danger mt-2">
          El distrito es requerido.
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="direccion">Dirección</label>
        <input type="text" id="direccion" formControlName="address" class="form-control" placeholder="Ingrese dirección">
        <div *ngIf="editEventForm.get('address')?.invalid && (editEventForm.get('address')?.dirty || editEventForm.get('address')?.touched)" class="alert alert-danger mt-2">
          La dirección es requerida.
        </div>
      </div>
      
     
    </div>
    <div class="form-row">
       <div class="form-group col-md-1 mt-2" *ngIf="isVirtualMode">
            <label for="link">Link</label>
            <input type="text" id="link" formControlName="link" class="form-control" placeholder="www.">
            <div *ngIf="editEventForm.get('link')?.invalid && (editEventForm.get('link')?.dirty || editEventForm.get('link')?.touched)" class="alert alert-danger mt-2">
              <span *ngIf="editEventForm.get('link')?.errors?.['required']">El link es obligatorio.</span>
            </div>
      </div>
    </div>
   

    <div class="button-group">
      <button type="submit" class="create-button btn btn-primary" [disabled]="editEventForm.invalid">Actualizar Evento</button>
    </div>
  </form>
</div>