<h5>Creados</h5>
<div class="table-responsive" *ngIf="eventsuser.length > 0; else noEvents">
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Ubicacion</th>
                <th>Tipo</th>
                <th class="text-center">Fecha</th>
                <th>Inicio</th>
                <th colspan="1">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="event-row" *ngFor="let eventsIn of eventsuser; let i = index">
                <td>{{eventsIn.tittle}}</td>
                <td *ngIf="eventsIn.location.address==='Virtual'">
                    {{eventsIn.location.address}}
                </td>
                <td *ngIf="eventsIn.location.address!=='Virtual'">{{eventsIn.location.address}}-{{eventsIn.location.departament}}-{{eventsIn.location.province}}</td>
                <td>{{eventsIn.type}}</td>
                <td class="long-column text-center" >{{eventsIn.date}}</td>
                <td>{{eventsIn.startTime}}</td>
                <td>
                    <button class="btn btn-success btn-sm" (click)="navigateToEditEvents(eventsIn.id)">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                </td>

                <td>
                   
                    <button class="btn btn-primary btn-sm" (click)="navigateToRatings(eventsIn.id)">
                        Calificaciones <i class="fa-solid fa-star"></i>
                      </button>
                      
                </td>

                <td>
                    
                    <button class="btn btn-danger btn-sm" (click)="openDeleteModal(eventsIn)"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <button class="btn ins" (click)="navigateToCreateEvents()"><i class="fa-solid fa-plus"></i> Crear Nuevo Evento</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<ng-template #noEvents>
    <div class="row">
        <strong>Aun no has creado ningun evento.</strong>
    </div>
    <div class="d-flex justify-content-center">
        <td colspan="8">
            <button class="btn ins" (click)="navigateToCreateEvents()"><i class="fa-solid fa-plus"></i> Crear Nuevo Evento</button>
        </td>
    </div>

</ng-template>

<!-- Modal de Confirmación de Eliminación -->
<div *ngIf="modal" class="modal">
    <p>¿Seguro que deseas eliminar el evento?</p>
    <button (click)="closeModal()">Cancelar</button>
    <button (click)="confirmDeleteEvent()">Eliminar</button>
</div>  
