.table {
    border-collapse: separate;
    border-spacing: 0 15px;
    
  }
  
  .table thead th {
    border: none;
    padding: 10px;
    font-weight: bold;
  }
  .long-column {
    width: 200px;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    overflow: hidden; /* Oculta el texto si es muy largo */
    text-overflow: ellipsis; /* Agrega "..." si el texto se corta */
}

  .event-row {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(3, 18, 155, 0.1);
    transition: all 0.3s ease;
    border-radius: 10px;
  
    td {
      padding: 15px;
      border: none;
    }
  
    td:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-left: 2px solid #03129B;
    }
  
    td:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: 2px solid #03129B;
    }
    
  }
  
  .btn{
      &:hover {
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(3, 18, 155, 0.2);
        }
  }
  
  .btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  
  .ins {
    background-color: #03129B;
    color: #fff;
    &:hover {
      background-color: darken(#03129B, 10%);
      border-color: darken(#03129B, 10%);
    }
  }

  tfoot{
    background-color: #f9f9f9;
    border-top: 2px solid #03129B;
    border-bottom: 2px solid #03129B;
    padding: 10px;
    text-align: right;
  }

  .modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
  }


  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f0c3b; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    max-height: 200px; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 1000;
}


.modal p {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal button {
    margin: 5px 10px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
}

.modal button:first-of-type {
    background-color: #e0e0e0;
    color: black;
    border: none;
}

.modal button:last-of-type {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}
