<h5>Creados</h5>
<div class="table-responsive" *ngIf="eventsuser.length > 0; else noEvents">
    <table class="table">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Ubicacion</th>
                <th>Tipo</th>
                <th>Hora de Inicio</th>
                <th colspan="2">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="event-row" *ngFor="let eventsIn of eventsuser; let i = index">
                <td>{{eventsIn.tittle}}</td>
                <td>{{eventsIn.location.address}}-{{eventsIn.location.departament}}-{{eventsIn.location.province}}-{{eventsIn.location.district}}</td>
                <td>{{eventsIn.type}}</td>
                <td>{{eventsIn.startTime}}</td>
                <td>
                    <button class="btn btn-success btn-sm" (click)="navigateToEditEvents()">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                </td>

                <td>
                    
                    <button class="btn btn-danger btn-sm" (click)="openDeleteModal(eventsIn)"><i class="fa-solid fa-trash-can"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <button class="btn ins" (click)="navigateToCreateEvents()"><i class="fa-solid fa-plus"></i> Crear Nuevo Evento</button>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<ng-template #noEvents>
    <strong>Aun no has creado ningun evento.</strong>
</ng-template>

<!-- Modal de Confirmación de Eliminación -->
<div *ngIf="modal" class="modal">
    <p>¿Seguro que deseas eliminar el evento?</p>
    <button (click)="closeModal()">Cancelar</button>
    <button (click)="confirmDeleteEvent()">Eliminar</button>
</div>
