<body>
    <div class= "row">
        
        <div class="columnaP col-md 6">

            <div class = "title fw-bold">
                <p>| CONECTATE</p>
                <p class="ah">| AHORA</p>
            </div>

            <div class = "decription">
                <p>Encuentra, crea y participa en eventos tecnológicos y de networking a tu medida</p>
            </div>

            <div class = "boton">
                <button class="btn btn-outline-light rounded-pill fw-bold btn-lg" type="button" href="#" >REGISTRATE <i class="fa-solid fa-circle-chevron-right"></i></button>
            </div>
            
        </div>

        <div class="carrusel col-md 6">
            <div id="carouselGovench" class="carousel slide">

                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselGovench" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselGovench" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselGovench" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">

                  <div class="carousel-item active">
                    <img src="eve1.webp" class="d-block" alt="eve1">
                    <h5 class="fw-bold"> ¡Conéctate con la innovación!</h5>
                    <p>Descubre las últimas tendencias tecnológicas en nuestro próximo evento. ¡Inscríbete ahora y no te lo pierdas!</p>
                  </div>

                  <div class="carousel-item">
                    <img src="eve2.webp" class="d-block" alt="eve2">
                    <h5 class="fw-bold">Amplía tu red de contactos.</h5>
                    <p>Conoce a otros profesionales del sector tecnológico en un ambiente distendido y propicio para el networking.</p>
                  </div>

                  <div class="carousel-item">
                    <img src="eve3.jpeg" class="d-block" alt="eve3">
                    <h5 class="fw-bold"> Impulsa tu carrera profesional.</h5>
                    <p>Asiste a charlas inspiradoras, talleres prácticos y conecta con empresas líderes en el sector</p>
                  </div>

                </div>

                <button class="carousel-control-prev " type="button" data-bs-target="#carouselGovench" data-bs-slide="prev">
                    <i class="fa-solid fa-circle-left fa-3x carousel-control-icon"></i>
                  <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselGovench" data-bs-slide="next">
                    <i class="fa-solid fa-circle-right fa-3x carousel-control-icon"></i>
                  <span class="visually-hidden">Next</span>
                </button>

            </div>
        </div>

    </div>
</body>
