<body>
    <p class="noso fw-bold text-end">Sobre Nosotros |</p>
      <div class="misVisi text-center">
        <div class = "row">

            <div class="mis col-md 6 p-3">
              <h3 class="fw-bold">Misión</h3>
               <p class="card-text">Nuestra misión es ofrecer un espacio virtual y físico donde los profesionales de la tecnología puedan compartir conocimientos, establecer contactos y descubrir las últimas tendencias del sector. A través de una curaduría rigurosa de eventos, talleres y conferencias, buscamos inspirar a la comunidad, promover la colaboración y fomentar el crecimiento profesional de nuestros usuarios.</p>
            </div>
    
            <div class="vis col-md 6 p-3">
              <h3 class="fw-bold">Visión</h3>
              <p class="card-text">Ser la plataforma de referencia en Latinoamérica para la comunidad tecnológica, conectando a los principales actores de la industria y fomentando la innovación a través de eventos de vanguardia. Aspiramos a ser un catalizador de ideas disruptivas, impulsando el desarrollo tecnológico y la transformación digital en la región.</p>
            </div>

        </div>
      </div>

        <div class="team-section">
            <p class="subTitle fw-bold">| Equipo de JADYMIG TECH</p>
            <div class="row team text-center">

                <div class="col">
                  <img src="https://cdn.animaapp.com/projects/66e5fcd520f83e13e1116247/releases/66e5fdfaba7515fb3ad88d27/img/image@2x.png" alt="Javier Aguilar Blas">
                  <h4>Javier Aguilar Blas</h4>
                  <p>Desarrollador</p>
                </div>
                  
                <div class="col">
                  <img src="https://cdn.animaapp.com/projects/66e5fcd520f83e13e1116247/releases/66e5fdfaba7515fb3ad88d27/img/image-1@2x.png" alt="Dylan Acevedo">
                  <h4>Dylan Acevedo</h4>
                  <p>Desarrollador</p>
                </div>

                <div class="col">
                  <img src="https://cdn.animaapp.com/projects/66e5fcd520f83e13e1116247/releases/66e5fdfaba7515fb3ad88d27/img/image-3@2x.png" alt="Miguel Escobar">
                  <h4>Miguel Escobar</h4>
                  <p>Desarrollador</p>
                </div>
                  
                <div class="col">
                  <img src="https://cdn.animaapp.com/projects/66e5fcd520f83e13e1116247/releases/66e5fdfaba7515fb3ad88d27/img/image-2@2x.png" alt="Gino Guevara Villalobos">
                  <h4>Gino Guevara Villalobos</h4>
                  <p>Desarrollador</p>
                </div>

                <div class="col">
                  <img src="https://cdn.animaapp.com/projects/66e5fcd520f83e13e1116247/releases/66e5fdfaba7515fb3ad88d27/img/image-5@2x.png" alt="Jaime Palomino">
                  <h4>Jaime Palomino</h4>
                  <p>Desarrollador</p>
                </div>

            </div>
          </div>
          
          <div class="faq row">

            <div class="pregu col-md 6 fw-bold" >
              <p>| Preguntas</p>
              <p>| Frecuentes</p>
            </div>

            <!-- <div class="col-md 6" >
              <div ngbAccordion [closeOthers]="true">
                @for (item of items; track item) {
                  <div ngbAccordionItem [collapsed]="item !== 'First'">
                    <h2 ngbAccordionHeader>
                      <button ngbAccordionButton>{{ item }}</button>
                    </h2>
                    <div ngbAccordionCollapse>
                      <div ngbAccordionBody>
                        <ng-template>
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
                          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                          Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                          excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                          you probably haven't heard of them accusamus labore sustainable VHS.
                        </ng-template>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div> -->
          </div>
          
</body>
