.color 
{
    background: linear-gradient(to right,#010849,#03129B) !important;
}

.here{
    background: #010635;
}


.btn-primary {
    background: #010635;/* Color de fondo para el botón activo */
    color: #fff; /* Color de texto */
}