<app-nav/>
<div class="container text-center">

    <div class="row">
        <h2 class="mb-4">Pago exitoso</h2>
    </div>

    <div class="row ">
        <div class="col-md-5 offset-md-4">
            <img clas="img-fluid small" src="https://static.insales-cdn.com/assets/1/2789/4426469/1715437098/galka.png">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-4 mt-5">
            <button class="btn btn-lg p-3 fs-5 rounded-pill" (click)="navigateToEvents()">
                Ver mis eventos
            </button>
        </div>
        <div class="col-md-4">
            <button class="btn  btn-lg p-3 fs-5 rounded-pill mb-3 mt-5"routerLink="/eventos">
                Ver más eventos
            </button>
        </div>
    </div>
</div>
<app-footer/>