<body>
    <div class= "row ">
        
        <div class="columnaP col-md 6">

            <div class = "title fw-bold">
                <p>| CONECTATE</p>
                <p class="ah">| AHORA</p>
            </div>
            <div class = "decription">
                <p>Encuentra, crea y participa en eventos tecnológicos y de networking a tu medida</p>
            </div>
            <div class = "boton">
                <button class="btn btn-outline-light rounded-pill fw-bold btn-lg" type="button">REGISTRATE <i class="fa-solid fa-circle-chevron-right"></i></button>
            </div>
        </div>

        <div class="col-md 6">
            <p>CARRUSELs</p>
        </div>

    </div>
</body>
