body {
    background: url(https://img.pikbest.com/origin/09/18/09/14spIkbEsTkRF.jpg!w700wp);
    width: 1920px;
    height: 1080px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}