<div class="p-3">
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center bg-1 text-light subtitle m-2 p-2">
            <div class="caja d-flex align-items-center">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="col-8 text-center">
                <h1>Crear Cuenta</h1>
                <p>¿Ya tienes una cuenta? <a routerLink="/auth/login"
                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Iniciar
                        Sesión</a></p>
            </div>
            <div class="caja"></div>
        </div>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="container col-md-8 mt-1 formulario">
        <div class="row">
            <!-- Columna izquierda -->
            <div class="col-md-6">
                <div class="row">
                    <!-- Campo Nombre -->
                    <div class="col-md-6 mb-3">
                        <label for="name">Nombre</label>
                        <input id="name" class="input-c p-2" formControlName="name" type="text"
                            placeholder="Ingrese su nombre">
                        <div *ngIf="controlHasError('name', 'required') && registerForm.controls['name'].touched"
                            class="alert alert-danger">El nombre es obligatorio.</div>
                        <div *ngIf="controlHasError('name', 'pattern') && registerForm.controls['name'].touched"
                            class="alert alert-danger">Solo se permiten letras en el nombre.</div>
                    </div>
                    <!-- Campo Apellido -->
                    <div class="col-md-6 mb-3">
                        <label for="lastname">Apellido</label>
                        <input id="lastname" class="input-c p-2" formControlName="lastname" type="text"
                            placeholder="Ingrese su apellido">
                        <div *ngIf="controlHasError('lastname', 'required') && registerForm.controls['lastname'].touched"
                            class="alert alert-danger">El apellido es obligatorio.</div>
                        <div *ngIf="controlHasError('lastname', 'pattern') && registerForm.controls['lastname'].touched"
                            class="alert alert-danger">Solo se permiten letras en el apellido.</div>
                    </div>
                </div>
                <!-- Campo Correo -->
                <div class="mb-3">
                    <label for="email">Correo</label>
                    <input id="email" class="input-c p-2" formControlName="email" type="email"
                        placeholder="Ingrese su correo electrónico">
                    <div *ngIf="controlHasError('email', 'required') && registerForm.controls['email'].touched"
                        class="alert alert-danger">El correo es obligatorio.</div>
                    <div *ngIf="controlHasError('email', 'email') && registerForm.controls['email'].touched"
                        class="alert alert-danger">Introduzca un correo válido.</div>
                </div>

                <!-- Campo Contraseña -->
                <div class="mb-3">
                    <label for="password">Contraseña</label>
                    <input id="password" class="input-c p-2" formControlName="password" type="password"
                        placeholder="Ingrese su contraseña">
                    <div *ngIf="controlHasError('password', 'required') && registerForm.controls['password'].touched"
                        class="alert alert-danger">La contraseña es obligatoria.</div>
                </div>

                <!-- Campo Confirmar Contraseña -->
                <div class="mb-3">
                    <label for="confirmPassword">Confirmar contraseña</label>
                    <input id="confirmPassword" class="input-c p-2" formControlName="confirmPassword" type="password"
                        placeholder="Ingrese su nuevamente su contraseña">
                    <div *ngIf="registerForm.errors?.['passwordMismatch']" class="alert alert-danger">Las contraseñas no
                        coinciden.</div>
                </div>
            </div>

            <!-- Columna derecha -->
            <div class="col-md-6">
                <!-- Campo Fecha de Nacimiento -->
                <div class="mb-3">
                    <label for="birthday">Fecha de nacimiento</label>
                    <input id="birthday" class="input-c p-2" formControlName="birthday" type="date"
                        placeholder="Selecciones su fecha de nacimiento">
                    <div *ngIf="controlHasError('birthday', 'required') && registerForm.controls['birthday'].touched"
                        class="alert alert-danger">La fecha de nacimiento es obligatoria.</div>
                    <div *ngIf="controlHasError('birthday', 'invalidDate') && registerForm.controls['birthday'].touched"
                        class="alert alert-danger">La fecha no puede ser futura.</div>
                </div>

                <!-- Campo Género -->
                <div class="mb-3">
                    <label for="gender">Género</label>
                    <select id="gender" class="input-c p-2" formControlName="gender">
                        <option value="">Seleccione su género</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    <div *ngIf="controlHasError('gender', 'required') && registerForm.controls['gender'].touched"
                        class="alert alert-danger">El género es obligatorio.</div>
                </div>

                <!-- Descripción de Perfil -->
                <div class="col-12 mb-3">
                    <label for="profileDesc">Descripción de perfil</label>
                    <textarea id="profileDesc" class="input-c p-2" formControlName="profileDesc" rows="3"
                        maxlength="250" placeholder="Cuentanos algo sobre ti"></textarea>
                </div>
            </div>


        </div>
        <!-- Términos y Condiciones -->
        <div class="col-12 mb-3 text-center">
            <input type="checkbox" formControlName="termsAccepted"> He leído y acepto los <a href="#">términos y
                condiciones</a> y <a href="#">políticas de privacidad</a>.
        </div>

        <!-- Botón de Registro -->
        <div class="col-12 text-center">
            <button class="btn rounded-pill p-2" type="submit" [disabled]="registerForm.invalid" id="regiterBtn">Registrarse</button>
        </div>
    </form>
</div>